body {
    background-color: rgb(4, 32, 84);
    
}

.zanz {
    font-size: 75px;
    text-align: center;
    padding: 50px;
    
}

.folio {
    font-size: 90px;
    text-align: center;
}

.about {
    font-size: 40px;
    padding: 15px;
    font-weight: 700;

}

.intro {
    font-size: 30px;
    padding: 30px;
    font-style: oblique;
}

p {
    font-size: 20px;
    text-align: center;
}