body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.zanz {
    font-size: 75px;
    text-align: center;
    padding: 50px;
    
}

.folio {
    font-size: 90px;
    text-align: center;
}

.about {
    font-size: 40px;
    padding: 15px;
    font-weight: 700;

}

.intro {
    font-size: 60px;
    padding: 30px;
    font-style: oblique;
}

p {
    font-size: 20px;
    text-align: center;
}

p1 {
    font-size: 35px;
    margin: 40px;
}

p2 {
    font-size: 25px;
}